:root {
  --bg: linear-gradient(135deg, #0f172a, #020617);
  --card: rgba(255, 255, 255, 0.05);
  --text: #ffffff;
  --accent: #38f858;
}

.light {
  --bg: linear-gradient(135deg, #e2e8f0, #cbd5f5);
  --card: rgba(255, 255, 255, 0.6);
  --text: #0f172a;
  --accent: #2563eb;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.4s;
}

/* 🔥 стеклянная карточка */
.container {
  backdrop-filter: blur(20px);
  background: var(--card);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  text-align: center;
  width: 280px;
  overflow: visible;

}

/* 🔥 круг */
.circle {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 20px auto;
}

svg {
  transform: rotate(-90deg);
  overflow: visible;
}
.bg {
  stroke: rgba(255,255,255,0.1);
  fill: none;
  stroke-width: 10;
}

.progress {
  stroke: var(--accent);
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 565;
  stroke-dashoffset: 565;
  transition: stroke-dashoffset 1s linear;
  filter: drop-shadow(0 0 16px var(--accent));
}

/* 🔥 таймер */
#timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 32px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  text-align: center;
}

/* 🔥 кнопки */
button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover эффект */
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(56,189,248,0.5);
}

/* клик эффект */
button:active {
  transform: scale(0.95);
}

/* разделение кнопок */
.buttons, .modes {
  display: flex;
  flex-direction: column;
}
.popup {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);

  background: rgba(0,0,0,0.8);
  color: white;
  padding: 15px 25px;
  border-radius: 12px;

  opacity: 0;
  transition: all 0.4s ease;

  backdrop-filter: blur(10px);
}

.popup.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}